@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* CSS Variables */
:root {
    --dera-color-text: #555555;
    --dera-color-accent: #20ACEF;
    /* --dera-color-accent: #007456; */
    --dera-color-primary: #111111;
    --dera-color-secondary: #999;
    --dera-color-border: #eee;
    --dera-color-bg: #f9f9f9;
    --yellow-color: rgb(248, 248, 237);
    --trasition: all .5s ease;
}

/* Smooth scroll effect */
html {
    scroll-behavior: smooth;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--dera-color-text);
    cursor: pointer;
}

a:hover {
    color: var(--dera-color-accent)
}

/* Animation */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-8px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Animation end */
/* container */
.site-container {
    width: 100%;
}

/* Topbar */
.top-bar {
    width: 100%;
    background-color: black;
}

.flex {
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.flex-top-bar {
    padding: 15px 30px;
    color: white;
    font-size: 12px;
}

.subscribe-box i {
    margin-right: 10px;
}

.subscribe-box a {
    cursor: pointer;
    color: white;
}

.con-box span {
    margin: 0px 15px;
}

.con-box span i {
    margin-right: 10px;
}

/* Header + Navigation */
.primary-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    background-color: var(--yellow-color);
    width: 100%;
    margin: auto;
}

.primary-header .logo img {
    width: 170px;
}

.navigation nav ul {
    display: flex;
    gap: 30px;
    margin-left: 30px;
}

.navigation nav ul li a {
    font-size: 18px;
}

.mcqs-btn {
    margin-left: auto;
}

/* CSS */
.button-9 {
    appearance: button;
    backface-visibility: hidden;
    background-color: var(--dera-color-accent);
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.button-9:disabled {
    cursor: default;
}

.button-9:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 30px;
    transition: var(--transition);
    background-color: var(--yellow-color);
    width: 100%;
    margin: auto;
}

.hero-info,
.text-hero-info,
.search-inner,
.trending-jobslist,
.site-visitor-stat {
    margin: 2rem 0;
}

.text-hero-info h1 {
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.text-hero-info h1 span {
    color: var(--dera-color-accent);
}

.text-hero-info p {
    font-size: 18px;
    width: 70%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--dera-color-primary);
    line-height: 1.9rem;
}

.search-inner {
    display: block;
    width: 80%;
}

.search-forms {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-forms i {
    position: absolute;
    font-size: 30px;
    left: 5%;
    opacity: 40%;
}

.search-forms input {
    width: 100%;
    height: 60px;
    background-color: white;
    color: #555555;
    border: none;
    border-radius: 50px;
    padding-left: 15%;
    box-shadow: -2px 1px 78px -27px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 78px -27px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 78px -27px rgba(0, 0, 0, 0.75);
}

.search-forms input[type=text] {
    font-size: 16px;
}

.trending-jobslist p {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: var(--dera-color-primary);
}

.site-visitor-stat {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 70px;
}

.site-visitor-stat .site-visitor .number,
.mcqs-visitor .number {
    font-size: 34px;
    font-weight: 600;
    color: var(--dera-color-accent);
    font-family: 'Inter', sans-serif;
    margin: 5px 0;
}

.site-visitor-stat .site-visitor .detail,
.mcqs-visitor .detail {
    font-size: 16px;
    font-weight: 300;
    color: var(--dera-color-primary);
}

/* Popular Categories */
.featured-cat {
    margin: 150px auto;
    width: 100%;
}

.cat-flex {
    display: block;
    width: 1200px;
    margin: auto;
}

.cat-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px 0;
}

.cat-heading .cat-title-box h1 {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 15px 0;
    color: var(--dera-color-primary);
}

.cat-heading .cat-title-box p {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 15px 0;
    color: var(--dera-color-secondary);
}

.cat-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cat-box {
    display: inline-flex;
    flex-direction: column;
    background: rgba(0, 116, 86, .05);
    padding: 22px;
    border: 1px solid var(--dera-color-border);
    border-radius: 16px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    width: 180px;
}

.cat-box .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dera-color-accent);
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 30px 0;
}

.cat-box .heading-name {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400px;
}

.cat-box .cat-jobs-count {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300px;
    margin: 10px 0;
}

.view-allcat {
    display: block;
    text-align: center;
    margin: 30px 0;
}

.view-allcat a {
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: fit-content;
}

/* Featured Jobs Layout */

.featured-jobs-layout {
    margin: 150px auto;
    width: 100%;
}

.featured-job-flex {
    display: block;
    width: 1200px;
    margin: auto;
}

.post-list-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.layout-list {
    border: 1px solid yellow;
    border-radius: 10px;
    width: 48%;
    padding: 25px;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.post-header .icon i {
    font-size: 45px;
    color: orangered;
    margin-right: 20px;
}

.post-header .title h1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.post-header .title p {
    font-size: 14px;
    font-weight: 400;
}

.featured-icons i {
    font-size: 22px;
    margin: 0 5px;
}

.featured-icons .ri-vip-crown-2-fill {
    color: rgb(236, 165, 58);
}

.featured-icons .ri-flashlight-fill {
    color: black;
}

.featured-icons {
    margin-left: auto;
}

.featured-jobs-meta-data {
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    margin-bottom: 25px;
}

.expiry-date p span {
    margin: 0 5px;
}

.load-more-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.load-more-btn .primary-btn {
    width: 200px;
}

.blog-section-post {
    margin: 150px auto;
    width: 100%;
}

.blog-post-flex {
    display: block;
    width: 1200px;
    margin: auto;
}

.blog-section-post {
    padding: 100px 30px;
}

.blog-post-cart {
    display: flex;
}

.cart-layout {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.cart-layout .blog-post-thumbnail {
    width: 350px;
    border-radius: 10px;
}

.blog-post-meta-data {
    display: flex;
    gap: 40px;
    margin: 15px 0;
}

.blog-post-meta-data p {
    font-size: 14px;
}

.cart-layout .post-title {
    font-size: 18px;
    line-height: 2rem;
}

.load-more-btn .primary-btn {
    margin-top: 45px;
}

.footer-layout .site-detail {
    width: 300px;
}

.footer-layout .site-detail .ft-site-title {
    font-size: 18px;
    margin-bottom: 35px;
}

.footer-layout .site-detail .ft-site-desc {
    font-size: 14px;
    line-height: 1.8rem;
    margin-bottom: 10px;
}

.footer-layout .site-detail p {
    font-size: 16px;
    line-height: 2rem;
}

.footer-layout {
    display: flex;
    justify-content: space-between;
    gap: 65px;
}

.footer-sec {
    width: 180px;
}

.footer-sec .footer-menu .nav-title {
    margin-bottom: 35px;
    font-size: 18px;
}

.footer-sec .footer-menu li {
    list-style: none;
    margin: 15px 0;
}

.allright {
    padding: 0 30px;

}

.allright p {
    margin: 35px 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--dera-color-secondary);
}

/* Toggle */
.toggle i {
    font-size: 35px;
    margin-right: 20px;
    display: none;
}

@media all and (max-width: 1200px) {}


@media only screen and (max-width: 900px) {

    /* container */
    .site-container {
        width: 100%;
    }

    .top-bar .flex {
        width: auto;
    }

    /* Header + Navigation */
    .primary-header {
        position: relative;
    }

    .navigation {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        height: 50vh;
        background-color: #007456;
        transition: all 1s ease;
    }

    .navigation.open {
        left: 0;
        transition: all 1s ease;
    }

    .nav-bar {
        margin-top: 50px;
    }

    .nav-bar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-bar .nav-list a {
        font-size: 24px;
        font-weight: 300;
        color: white;
    }

    .nav-bar .nav-list .nav-item:hover {
        animation-name: bounce;
        animation-duration: 1.5s;
    }

    /* Toggle */
    .toggle i {
        display: block;
    }

    /* Hero Section */
    .hero .flex {
        display: flex;
        flex-direction: column;
    }

    .hero .flex .hero-img img {
        width: 300px;
    }

    /* Featured Section */
    .featured-cat {
        margin: 50px auto;
        width: auto;
    }

    .featured-cat .cat-flex {
        width: auto;
    }

    .featured-cat .cat-list {
        display: flex;
        flex-direction: column;
    }

    .cat-box {
        width: 50%;
    }

    /* Featured Post Layout */

    .featured-jobs-layout .flex {
        width: auto;
    }

    .post-list-data {
        display: flex;
        flex-direction: column;
    }

    .layout-list {
        width: 100%;
        padding: 25px;
        margin: 25px 0;
    }

    .layout-list .post-header .icon {
        font-size: 40px;
    }

    .layout-list .post-header .title h1 {
        font-size: 16px;
    }

    .layout-list .post-header .title p {
        font-size: 14px;
    }

    /* BLog Section */
    .blog-section-post .flex {
        width: auto;
    }

    .blog-section-post .blog-post-cart {
        display: flex;
        flex-direction: column;
    }

    .blog-section-post .blog-post-cart .blog-post {
        margin: 25px 0;
    }

    /* Footer */
    .footer .flex {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .footer .flex .footer-sec {
        width: 100%;
        text-align: center;
    }

}

@media only screen and (max-width: 640px) {}